* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #FFFFFF;
    color: #2D3242;
    font-size: 30px;
    position: relative;
}
.container {
    max-width: 1075px;
    margin: 0 auto;
    width: calc(100% - 10px);
}

.header__container {
    text-align: center;
}
section {
  padding: 75px 0;
}
.main {
    padding: 0;
}
.tariff {
    background-color: #F5F7F7;
}
.tariff__titles {
    text-align: center;
}
.tariff__title {
    font-size: 40px;
    font-weight: bold;
}
.tariff__line {
    width: 100%;
    margin: 52px 0;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px solid #000000;
}
.tariff__box {
    display: flex;
    justify-content: space-between;
}
